In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [60]:
df=pd.read_csv(r"C:\Users\anshu\Desktop\houseprice\notebooks\gemsstone.csv")

In [61]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [62]:
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [44]:
df=df.drop(labels=["id"],axis=1)

In [63]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [64]:
### check dublicate record
df.duplicated().sum()

0

In [65]:
## segrigate numerical and categorical columns
numerical_col=df.columns[df.dtypes!='object']
categorical_col=df.columns[df.dtypes=='object']

In [66]:
print("numerical_col : " , numerical_col)
print("categorical_col : " ,categorical_col )

numerical_col :  Index(['id', 'carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')
categorical_col :  Index(['cut', 'color', 'clarity'], dtype='object')

In [67]:
df[categorical_col].describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [68]:
df["cut"].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [70]:
df["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [71]:
df["clarity"].value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64

In [72]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [74]:
df[numerical_columns].describe()

NameError: name 'numerical_columns' is not defined

In [56]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(10,10))
x=1
for i in numerical_col:
    sns.histplot(data=df,x=i,kde=True)
    print("\n")
    plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
sns.heatmap(df.corr(),annot=True)

In [ ]:
sns.pairplot(df)

In [75]:
cut_map={"Fair":1,"Good":2,"Very Good":3,"Premium":4,"Ideal":5}

In [76]:
clarity_map = {"I1":1,"SI2":2 ,"SI1":3 ,"VS2":4 , "VS1":5 , "VVS2":6 , "VVS1":7 ,"IF":8}

In [77]:
color_map = {"D":1 ,"E":2 ,"F":3 , "G":4 ,"H":5 , "I":6, "J":7}

In [78]:
df['cut']=df['cut'].map(cut_map)
df['clarity'] = df['clarity'].map(clarity_map)
df['color'] = df['color'].map(color_map)

In [79]:
df['cut']

0         4
1         3
2         5
3         5
4         4
         ..
193568    5
193569    4
193570    3
193571    3
193572    2
Name: cut, Length: 193573, dtype: int64

In [80]:
df.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03    3      7        2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70    5      4        5   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32    5      4        5   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    4      4        4   62.6   59.0  7.65  7.61  4.77  14453

In [81]:
X=df.drop(labels=['price'],axis=1)
y=df[['price']]

In [82]:
## define which column should be ordinal encoded and which should be scalled
categorical_col=X.select_dtypes(include="object").columns
numerical_col=X.select_dtypes(exclude="object").columns